//General Colors used through out application.
$fontColor: #fff;
$borderColor: #fff;
$ulColor: none;
$backgroundColor: #000;
//Colors for slideshow
$numberColor: #f2f2f2;
$backgroundColorOfSlideshow: rgba(0, 0, 0, 0.8);
$slideshowBackgroundColor: #222;
//Colors for icons.
$checkIconColor: green;
$deleteIconColor: darkred;
//Colors for buttons.
$warningColor: rgb(231, 202, 35);
//Post Colors
$postActiveColor: #020;
$transparentColor: transparent;
//Social Icon Colors.
$twitterIconColor: lightskyblue;
$facebookIconColor: darkblue;
$instagramIconColor: linear-gradient(#4c68d7, #cd486b, #fbad50);
$snapchatIconColor: #FFFC00;
$twitchTvIconColor: purple;
$redditIconColor: #ff4301;
$playstationIconColor: linear-gradient(#DF0024, #F3C300, #00AC9F, #2E6DB4);
$xboxIconColor: lightgreen;


