.search-div {
    height: 2em;
    width: 100%;
    margin-left: -10px;
    /* display: grid;
    grid-template-columns: 70% 30%; */
    display: flex;
}
.search-input {
    height: 100%;
    width: 70%;
}
.search-input > input {
    height: 100%;
    width: 100%;
    background: transparent;
    color: #fff;
}
.search-icon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}
.icon-search {
    /* padding-left: 10px;
    padding-right: 10px;
    pad */
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
}
@media(min-width: 1200px) {
    .search-div {
        display: grid;
        /* justify-content: center;
        align-items: center; */
        grid-template-columns: 20% 50% 15% 15%;
        grid-template-rows: 10% 20% 20% 20% 20% 10%;
        height: 100%;
    }
    .search-icon {
        cursor: grab;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        height: 100%;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .search-input {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .search-input > input {
        width: 100%;
        height: 100%;
        margin-left: auto;
    }
}