.edit-post.form {
    width: 100%;
    display: grid;
    grid-template-rows: 30% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 15% 7.5%;
    grid-column: 10% 80% 10%;
}
.edit-post.form > * {
    grid-row: auto;
    grid-column: 2/2;
    width: 100%;
    background: transparent;
    color: #fff;
}
.edit-post.div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.edit-post.btn {
    width: 100%;
    margin: 10px;
    padding: 20px;
    font-size: 1.5em;
    font-weight: 800;
    background: transparent;
    color: #fff;
    display: grid;
    text-align: center;
}

@media (min-width: 760px) {
    .edit-post.btn {
        width: 30%;
        margin: 20px;
    }
}
@media (min-width: 1200px) {
    .edit-post.btn {
        width: 20%;
        margin: 50px;
        padding: 10px;
    }
}