.edit-profile-container {
    width: 80%;
    height: 80%;
    z-index: -1;
    background: black;
    border: 2px solid #fff;
    margin-left: auto;
    margin-right: auto;
}
.edit-profile-container > button {
    height: 3em;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #fff;
    font-weight: 800;
    font-size: 1.5em;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.edit-profile-container > button:hover {
    background: #fff;
    color: #000;
}
e.edit-profile-container > button:active {
    background: #fff;
    color: #000;
}