.player-card-div {
    color: #fff;
    height: 60%;
    width: 60%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid white;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    padding: 5px;
}
.player-card-img-div {
    display: none;
    border-radius: 100%;
    height: 100%;
    width: 40%;
}
.player-card-img {
    height: 100%;
    width: 80%;
    border-radius: inherit;
}
.player-card-div > p {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}
@media (min-width: 760px) {
    .player-card-img-div {
        display: inline-block;
    }
}
@media (min-width: 1200px) {
    .player-card-img-div {
        display: inline-block;
    }
    .player-card-div {
        padding: 10px;
    }
}