.slideshow {
  /* height: 30vh; */
  width: 80vw;
}

.slide > img {
  padding: 5%;
  height: 20em;
  width: 100%;
}
/* .slide { position: relative; } */

.slide {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #fff;
  margin: 10%;
  position: absolute;
  top: 0; left: 0;
  z-index: 5;
  -webkit-animation: slideshow 12s linear 0s infinite;
  -moz-animation: slideshow 12s linear 0s infinite;
  -ms-animation: slideshow 12s linear 0s infinite;
  -o-animation: slideshow 12s linear 0s infinite;
  animation: slideshow 12s linear 0s infinite;
}

.slide:nth-child(2) {
  z-index: 4;
  -webkit-animation: slideshow 12s linear 4s infinite;
  -moz-animation: slideshow 12s linear 4s infinite;
  -ms-animation: slideshow 12s linear 4s infinite;
  -o-animation: slideshow 12s linear 4s infinite;
  animation: slideshow 12s linear 4s infinite;
}

.slide:nth-child(3) {
   z-index: 3;
  -webkit-animation: slideshow 12s linear 8s infinite;
  -moz-animation: slideshow 12s linear 8s infinite;
  -ms-animation: slideshow 12s linear 8s infinite;
  -o-animation: slideshow 12s linear 8s infinite;
  animation: slideshow 12s linear 8s infinite;
}
.slide:nth-child(4) {
  z-index: 2;
 -webkit-animation: slideshow 12s linear 8s infinite;
 -moz-animation: slideshow 12s linear 8s infinite;
 -ms-animation: slideshow 12s linear 8s infinite;
 -o-animation: slideshow 12s linear 8s infinite;
 animation: slideshow 12s linear 8s infinite;
}

.slide:nth-child(5) {
  z-index: 1;
 -webkit-animation: slideshow 12s linear 8s infinite;
 -moz-animation: slideshow 12s linear 8s infinite;
 -ms-animation: slideshow 12s linear 8s infinite;
 -o-animation: slideshow 12s linear 8s infinite;
 animation: slideshow 12s linear 8s infinite;
}

@-webkit-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-moz-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-ms-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-o-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
