.create-post-page-div > .title.create-post-form {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.create-post-page-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 720px) {
    .create-post-page-div > .title.create-post-form {
        font-size: 2em;
    }
}
@media (min-width: 1200px) {
    .create-post-page-div > .title.create-post-form  {
        /* margin: 100px; */
        padding: 300px;
        font-size: 3em;
    }
}