.error-not-found-container-div {
    width: 100vw;
    height: 100vh;
    padding: 2.5%;
}
.error-not-found-subtext {
    font-size: 1.25em;
    transform: scale(1.5);
    text-transform: uppercase;
    text-align: center;
} 
.error-not-found-text {
    font-size: 7em;
}
.not-found-img {
    font-size: 5em;
}
.error-not-found-page-div {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-not-found-wrapper {
    margin-top: 10%;
}
@media(min-width: 760px){
    .error-not-found-subtext {
        font-size: 3em;
    }
    .error-not-found-text {
        font-size: 15em;
    }
    .not-found-img {
        font-size: 15em;
    }
}
